.flight-info, .passenger-info {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
  }
  
  .flight-info {
    background-color: #f8f8f8;
  }
  
  .passenger-info {
    background-color: #e1f5fe;
  }
  