
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Flight Check-In</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-Z/oLHSv7UV2ECh8SGtY0gC/rmzvIb/4x4XykvHi2C1KMtfI5Px5CldS5Z5+/5Z30qMIgr0E4xI4eXyFn0Qydw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Custom CSS -->
  <link rel="stylesheet" href="app.component.css" />
</head>
<body>
  <div class="container">
    <section>
      <h1 class="my-4">Flight Check-In</h1>
      <button class="btn btn-primary btn-start" routerLink="/startCheckIn">Start</button>
      <router-outlet></router-outlet>
    </section>
  </div>
</body>
</html>
