<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h2>Confirmed!!!</h2>
          <h2 class="card-title">Check-In Confirmation</h2>
          <p class="card-text">Your check-in has been confirmed for the following details:</p>
          <ul class="list-group">
            <li class="list-group-item"><strong>Airlines:</strong>{{data?.flight?.operatingAirlines}}</li>
            <li class="list-group-item"><strong>Flight Number:</strong>{{data?.flight?.flightNumber}}</li>
            <li class="list-group-item"><strong>Departure City:</strong>{{data?.flight?.departureCity}}</li>
            <li class="list-group-item"><strong>Arrival City:</strong>{{data?.flight?.arrivalCity}}</li>
            <li class="list-group-item"><strong>Date of Departure:</strong>{{data?.flight?.dateOfDeparture}}</li>
            <li class="list-group-item"><strong>Estimated Departure Time:</strong>{{data?.flight?.estimatedDepartureTime}}</li>
            <li class="list-group-item"><strong>Passenger Name:</strong>{{data?.passenger?.firstName}} {{data?.passenger?.lastName}}</li>
            
          </ul>
          <a href="#" class="btn btn-primary mt-3">Print Boarding Pass</a>
        </div>
      </div>
    </div>
  </div>
</div>
